.card {
    margin: 0%;
    padding: 0%;
    text-align: center;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    border: 2px solid #ee4444;
    background-color: #2b22aa;
    border-radius: 10px;
}

.card h1 {
    margin-bottom: 10px;
}

.card:hover {
    transform: translateY(-10px);
    background-color:#aca7f1;
}

  